<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Google Chrome for Testing Framework</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.chrome.for.testing.framework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>131.0.6778.86</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6778.86</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>24A336</string>
	<key>DTSDKName</key>
	<string>macosx15.0</string>
	<key>DTXcode</key>
	<string>1600</string>
	<key>DTXcodeBuild</key>
	<string>16A242d</string>
	<key>SCMRevision</key>
	<string>ee338c5c68e930761e15c97f5af9d8a082271a88-refs/branch-heads/6778@{#2286}</string>
</dict>
</plist>
